<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <title>Document</title>

    
</head>
<body>
    {{> header  }}

    <div class="buscador">
        <input id="search" type="text" placeholder="A donde le gustaria viajar?">
    <button onclick="onClick()">Buscar</button>
    </div>

    <div class="container" >
        <pre class="container" id="result">
            
        </pre>
    </div>
    <script src="/javascript/script.js"></script>
</body>
</html>